body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:472px;
  width:1441px;
  height:1880px;
}
#u0_img {
  position:absolute;
  left:-5px;
  top:-10px;
  width:1451px;
  height:1890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:932px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:472px;
  width:1440px;
  height:1880px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1880px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:968px;
  top:175px;
  width:317px;
  height:116px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:116px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:2730px;
  width:1425px;
  height:1150px;
  overflow:hidden;
  visibility:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:1150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:3px;
  top:-60px;
  width:1447px;
  height:1210px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:1210px;
}
#u7 {
  position:absolute;
  left:2px;
  top:597px;
  width:1443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1451px;
  height:1150px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1451px;
  height:1150px;
}
#u9 {
  position:absolute;
  left:2px;
  top:567px;
  width:1447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:83px;
  top:24px;
  width:169px;
  height:169px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:169px;
}
#u11 {
  position:absolute;
  left:2px;
  top:76px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:369px;
  top:32px;
  width:366px;
  height:181px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:181px;
}
#u13 {
  position:absolute;
  left:2px;
  top:82px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:433px;
  top:32px;
  width:925px;
  height:354px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:354px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:481px;
  top:89px;
  width:820px;
  height:434px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:434px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:481px;
  top:294px;
  width:241px;
  height:62px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:62px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:83px;
  top:451px;
  width:169px;
  height:169px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:169px;
}
#u21 {
  position:absolute;
  left:2px;
  top:76px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:365px;
  top:459px;
  width:366px;
  height:181px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:181px;
}
#u23 {
  position:absolute;
  left:2px;
  top:82px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:429px;
  top:459px;
  width:925px;
  height:289px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:289px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:477px;
  top:515px;
  width:820px;
  height:434px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:434px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:477px;
  top:660px;
  width:241px;
  height:62px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:62px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:83px;
  top:233px;
  width:307px;
  height:62px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:52px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:62px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:91px;
  top:302px;
  width:221px;
  height:62px;
  font-family:'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#FF3333;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:62px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:63px;
  top:442px;
  width:193px;
  height:193px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:193px;
}
#u35 {
  position:absolute;
  left:2px;
  top:88px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:91px;
  top:656px;
  width:238px;
  height:60px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:52px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:60px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:91px;
  top:784px;
  width:219px;
  height:62px;
  font-family:'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#FF3333;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:62px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1193px;
  top:897px;
  width:161px;
  height:161px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u41 {
  position:absolute;
  left:2px;
  top:72px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:232px;
  top:897px;
  width:925px;
  height:185px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:185px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:839px;
  top:897px;
  width:366px;
  height:181px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:181px;
}
#u45 {
  position:absolute;
  left:2px;
  top:82px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:288px;
  top:957px;
  width:682px;
  height:62px;
  font-family:'Roboto Italic', 'Roboto';
  font-weight:400;
  font-style:italic;
  font-size:52px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:62px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:71px;
  top:2591px;
  width:99px;
  height:99px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u49 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:209px;
  top:2608px;
  width:309px;
  height:62px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:62px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:2560px;
  width:1440px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:48px;
  top:477px;
  width:108px;
  height:108px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u54 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:445px;
  width:1440px;
  height:360px;
  opacity:0.200000002980232;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:360px;
}
#u56 {
  position:absolute;
  left:2px;
  top:172px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:1869px;
  width:488px;
  height:280px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:280px;
}
#u58 {
  position:absolute;
  left:2px;
  top:132px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:1869px;
  width:1440px;
  height:280px;
  opacity:0.200000002980232;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:280px;
}
#u60 {
  position:absolute;
  left:2px;
  top:132px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:104px;
  top:1978px;
  width:468px;
  height:62px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:52px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:62px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:750px;
  top:1977px;
  width:390px;
  height:62px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:52px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:62px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:576px;
  top:45px;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:56px;
  top:0px;
  width:120px;
  height:120px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u67 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:120px;
  width:240px;
  height:58px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:58px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u65_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u65_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:56px;
  top:0px;
  width:120px;
  height:120px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u71 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:120px;
  width:240px;
  height:58px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#00CC00;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:58px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:69px;
  top:45px;
}
#u74_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:131px;
  top:0px;
  width:120px;
  height:120px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u76 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:120px;
  width:379px;
  height:58px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:58px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u74_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u74_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:131px;
  top:0px;
  width:120px;
  height:120px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u80 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:120px;
  width:379px;
  height:58px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#00CC00;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:58px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1072px;
  top:45px;
  width:120px;
  height:120px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u84 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:48px;
  top:325px;
  width:956px;
  height:96px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:96px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:208px;
  top:508px;
  width:1180px;
  height:67px;
  font-family:'Roboto Bold', 'Roboto';
  font-style:normal;
  font-size:56px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:67px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:216px;
  top:673px;
  width:1084px;
  height:62px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:52px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:62px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:43px;
  top:645px;
  width:118px;
  height:118px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u92 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:56px;
  top:897px;
  width:1275px;
  height:961px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:961px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:50px;
  top:2763px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96 {
  position:absolute;
  left:148px;
  top:45px;
  width:220px;
  height:195px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:576px;
  top:45px;
  width:240px;
  height:195px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:50px;
  top:240px;
  width:1030px;
  height:390px;
  overflow:hidden;
  visibility:hidden;
}
#u98_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u98_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  position:absolute;
  left:0px;
  top:28px;
  width:1000px;
  height:322px;
}
#u99_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1010px;
  height:332px;
}
#u100 {
  position:absolute;
  left:2px;
  top:153px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:169px;
  top:-1px;
  width:98px;
  height:49px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u102 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:40px;
  top:81px;
  width:790px;
  height:189px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:189px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:140px;
  top:28px;
  width:143px;
  height:33px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:169px;
  top:3px;
  width:98px;
  height:49px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u108 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:231px;
  top:250px;
  width:122px;
  height:62px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#1BB2C1;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:62px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:466px;
  top:250px;
  width:464px;
  height:62px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#1BB2C1;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:62px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:880px;
  top:64px;
  width:66px;
  height:66px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u114 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:263px;
  top:240px;
  width:1022px;
  height:370px;
  overflow:hidden;
  visibility:hidden;
}
#u115_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:370px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u115_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116 {
  position:absolute;
  left:0px;
  top:28px;
  width:1000px;
  height:322px;
}
#u116_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1010px;
  height:332px;
}
#u117 {
  position:absolute;
  left:2px;
  top:153px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:386px;
  top:-1px;
  width:98px;
  height:49px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u119 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:40px;
  top:81px;
  width:790px;
  height:189px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:189px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:357px;
  top:28px;
  width:143px;
  height:33px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:386px;
  top:3px;
  width:98px;
  height:49px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u125 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:231px;
  top:250px;
  width:122px;
  height:62px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#1BB2C1;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:62px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:466px;
  top:250px;
  width:464px;
  height:62px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#1BB2C1;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:62px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:880px;
  top:64px;
  width:66px;
  height:66px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u131 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:2183px;
  width:1440px;
  height:307px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:307px;
}
#u133 {
  position:absolute;
  left:2px;
  top:146px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:104px;
  top:2347px;
  width:1256px;
  height:28px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:28px;
}
#u135 {
  position:absolute;
  left:2px;
  top:6px;
  width:1252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:104px;
  top:2223px;
  width:467px;
  height:67px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#000000;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:67px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:104px;
  top:2347px;
  width:925px;
  height:28px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:28px;
}
#u139 {
  position:absolute;
  left:2px;
  top:6px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:542px;
  top:2223px;
  width:467px;
  height:67px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#FF3366;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:67px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:551px;
  top:1925px;
  width:169px;
  height:169px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:169px;
}
#u143 {
  position:absolute;
  left:2px;
  top:76px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:498px;
  top:1869px;
  width:942px;
  height:280px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  position:absolute;
  left:0px;
  top:2352px;
  width:1440px;
  height:208px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:208px;
}
#u147 {
  position:absolute;
  left:2px;
  top:96px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:276px;
  top:2416px;
  width:88px;
  height:88px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u149 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:664px;
  top:2412px;
  width:92px;
  height:92px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u151 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1064px;
  top:2416px;
  width:88px;
  height:88px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u153 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:400px;
  top:160px;
  width:14px;
  height:16px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:-1px;
  top:67px;
  width:181px;
  height:45px;
  color:#FDFEFE;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:45px;
}
#u157 {
  position:absolute;
  left:2px;
  top:14px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:32px;
  top:82px;
  width:113px;
  height:16px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  overflow:hidden;
}
#u161_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u161_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
  opacity:0.150000005960464;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
}
#u163 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1222px;
  top:20px;
  width:59px;
  height:67px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:67px;
}
#u165 {
  position:absolute;
  left:2px;
  top:26px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1135px;
  top:20px;
  width:71px;
  height:79px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u167 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1297px;
  top:24px;
  width:108px;
  height:67px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:67px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:1065px;
  top:25px;
  width:62px;
  height:62px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u171 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  overflow:hidden;
}
#u173_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u173_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
  opacity:0.150000005960464;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
}
#u175 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1222px;
  top:20px;
  width:59px;
  height:67px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:67px;
}
#u177 {
  position:absolute;
  left:2px;
  top:26px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1135px;
  top:20px;
  width:71px;
  height:79px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u179 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:1297px;
  top:24px;
  width:108px;
  height:67px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:67px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:1065px;
  top:25px;
  width:62px;
  height:62px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u183 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:0px;
  top:300px;
  width:720px;
  height:172px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#80BABA;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:172px;
}
#u185 {
  position:absolute;
  left:2px;
  top:78px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:720px;
  top:300px;
  width:720px;
  height:172px;
  color:#80BABA;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:172px;
}
#u187 {
  position:absolute;
  left:2px;
  top:78px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:128px;
  top:350px;
  width:441px;
  height:67px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#000000;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:67px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:920px;
  top:347px;
  width:320px;
  height:67px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#000000;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:720px;
  top:300px;
  width:720px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:0px;
  top:300px;
  width:720px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195 {
  position:absolute;
  left:0px;
  top:104px;
  width:1440px;
  height:200px;
  color:#339999;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:200px;
}
#u196 {
  position:absolute;
  left:2px;
  top:92px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:1276px;
  top:148px;
  width:104px;
  height:104px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u198 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:972px;
  top:148px;
  width:104px;
  height:104px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u199_img.selected {
}
#u199.selected {
}
#u199_img.mouseDown {
}
#u199.mouseDown {
}
#u200 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:68px;
  top:148px;
  width:104px;
  height:104px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u201_img.selected {
}
#u201.selected {
}
#u201_img.mouseDown {
}
#u201.mouseDown {
}
#u202 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:368px;
  top:148px;
  width:104px;
  height:104px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u203_img.selected {
}
#u203.selected {
}
#u203_img.mouseDown {
}
#u203.mouseDown {
}
#u204 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:664px;
  top:148px;
  width:104px;
  height:104px;
  opacity:0.959999978542328;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u205_img.selected {
}
#u205.selected {
}
#u205_img.mouseDown {
}
#u205.mouseDown {
}
#u206 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:751px;
  top:300px;
  width:660px;
  height:734px;
  overflow:hidden;
  visibility:hidden;
}
#u207_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:734px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u207_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u208 {
  position:absolute;
  left:0px;
  top:28px;
  width:653px;
  height:702px;
}
#u208_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:663px;
  height:712px;
}
#u209 {
  position:absolute;
  left:2px;
  top:343px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:531px;
  top:-1px;
  width:98px;
  height:49px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u211 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:78px;
  top:248px;
  width:308px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:77px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:78px;
  top:587px;
  width:224px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:77px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:78px;
  top:420px;
  width:235px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:77px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:78px;
  top:81px;
  width:446px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:77px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:502px;
  top:28px;
  width:143px;
  height:33px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u221 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:531px;
  top:3px;
  width:98px;
  height:49px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u223 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:0px;
  top:28px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225 {
  position:absolute;
  left:0px;
  top:203px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u226 {
  position:absolute;
  left:0px;
  top:379px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u227 {
  position:absolute;
  left:0px;
  top:554px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u228 {
  position:absolute;
  left:0px;
  top:466px;
  width:1440px;
  height:10px;
}
#u228_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u228_end {
  position:absolute;
  left:1423px;
  top:-5px;
  width:18px;
  height:20px;
}
#u228_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1440px;
  height:2px;
}
