body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2540px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2540px;
}
#u2 {
  position:absolute;
  left:2px;
  top:1262px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
  opacity:0.150000005960464;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
}
#u6 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1222px;
  top:20px;
  width:59px;
  height:67px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:67px;
}
#u8 {
  position:absolute;
  left:2px;
  top:26px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1135px;
  top:20px;
  width:71px;
  height:79px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u10 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1297px;
  top:24px;
  width:108px;
  height:67px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:67px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1065px;
  top:25px;
  width:62px;
  height:62px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u14 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:2352px;
  width:1440px;
  height:208px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:208px;
}
#u17 {
  position:absolute;
  left:2px;
  top:96px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:276px;
  top:2416px;
  width:88px;
  height:88px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u19 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:664px;
  top:2412px;
  width:92px;
  height:92px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u21 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1064px;
  top:2416px;
  width:88px;
  height:88px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u23 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
