body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:102px;
  width:1440px;
  height:2280px;
  opacity:0.899999976158142;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1132px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:86px;
  top:665px;
  width:615px;
  height:222px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:222px;
}
#u3 {
  position:absolute;
  left:2px;
  top:78px;
  width:611px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:86px;
  top:1840px;
  width:1286px;
  height:234px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:52px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:234px;
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u5 {
  position:absolute;
  left:2px;
  top:86px;
  width:1282px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:757px;
  top:669px;
  width:615px;
  height:222px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:222px;
}
#u7 {
  position:absolute;
  left:2px;
  top:78px;
  width:611px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:86px;
  top:1300px;
  width:1290px;
  height:238px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:238px;
}
#u9 {
  position:absolute;
  left:2px;
  top:111px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:86px;
  top:1538px;
  width:1290px;
  height:238px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:238px;
}
#u11 {
  position:absolute;
  left:2px;
  top:111px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:134px;
  top:1610px;
  width:99px;
  height:99px;
  opacity:0.899999976158142;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:134px;
  top:1372px;
  width:99px;
  height:99px;
  opacity:0.899999976158142;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:23px;
  top:658px;
  width:258px;
  height:246px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:246px;
}
#u17 {
  position:absolute;
  left:2px;
  top:115px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:781px;
  top:689px;
  width:179px;
  height:179px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:179px;
}
#u19 {
  position:absolute;
  left:2px;
  top:82px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:86px;
  top:1062px;
  width:1290px;
  height:238px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:238px;
}
#u21 {
  position:absolute;
  left:2px;
  top:111px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:166px;
  top:475px;
  width:1214px;
  height:143px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:143px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:134px;
  top:931px;
  width:1198px;
  height:123px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#1E1E1E;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:123px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:134px;
  top:1129px;
  width:99px;
  height:99px;
  opacity:0.899999976158142;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:286px;
  top:1074px;
  width:635px;
  height:206px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:206px;
  background-color:#23A49D;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:286px;
  top:1316px;
  width:635px;
  height:206px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:206px;
  background-color:#23A49D;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:286px;
  top:1554px;
  width:635px;
  height:206px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:206px;
  background-color:#23A49D;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31 {
  position:absolute;
  left:86px;
  top:955px;
  width:357px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:340px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:357px;
  height:1px;
}
#u32 {
  position:absolute;
  left:1015px;
  top:955px;
  width:357px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:340px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:357px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
  opacity:0.150000005960464;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
}
#u36 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1222px;
  top:20px;
  width:59px;
  height:67px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:67px;
}
#u38 {
  position:absolute;
  left:2px;
  top:26px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1135px;
  top:20px;
  width:71px;
  height:79px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u40 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1297px;
  top:24px;
  width:108px;
  height:67px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:67px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:1065px;
  top:25px;
  width:62px;
  height:62px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u44 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:2352px;
  width:1440px;
  height:208px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:208px;
}
#u47 {
  position:absolute;
  left:2px;
  top:96px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:276px;
  top:2416px;
  width:88px;
  height:88px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u49 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:664px;
  top:2412px;
  width:92px;
  height:92px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u51 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1064px;
  top:2416px;
  width:88px;
  height:88px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u53 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
