body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:304px;
  width:1440px;
  height:2048px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2048px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:1308px;
  top:1177px;
  width:12px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:52px;
  top:60px;
  width:474px;
  height:163px;
  font-family:'Roboto Bold', 'Roboto';
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:163px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1308px;
  top:1177px;
  width:12px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:346px;
  top:180px;
  width:657px;
  height:657px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:657px;
}
#u8 {
  position:absolute;
  left:2px;
  top:320px;
  width:653px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:71px;
  top:904px;
  width:1285px;
  height:397px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:397px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:1444px;
  width:1440px;
  height:254px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:254px;
}
#u12 {
  position:absolute;
  left:2px;
  top:119px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:67px;
  top:1301px;
  width:445px;
  height:77px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:64px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:77px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:67px;
  top:1528px;
  width:583px;
  height:77px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:64px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:77px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1285px;
  top:1536px;
  width:73px;
  height:77px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:64px;
  color:#FF3366;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:77px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:1719px;
  width:1440px;
  height:254px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:254px;
}
#u20 {
  position:absolute;
  left:2px;
  top:119px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:67px;
  top:1807px;
  width:261px;
  height:77px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:64px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:77px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:1993px;
  width:1440px;
  height:254px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:254px;
}
#u24 {
  position:absolute;
  left:2px;
  top:119px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:67px;
  top:2077px;
  width:346px;
  height:77px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:64px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:77px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1307px;
  top:2084px;
  width:37px;
  height:77px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:64px;
  color:#FF3366;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:77px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1285px;
  top:1814px;
  width:73px;
  height:77px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:64px;
  color:#FF3366;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:77px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1253px;
  top:52px;
  width:111px;
  height:92px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:92px;
}
#u32 {
  position:absolute;
  left:2px;
  top:38px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:2310px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:310px;
  top:72px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:262px;
  top:72px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:166px;
  top:33px;
  width:26px;
  height:26px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:2352px;
  width:1440px;
  height:208px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:208px;
}
#u40 {
  position:absolute;
  left:2px;
  top:96px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:276px;
  top:2416px;
  width:88px;
  height:88px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u42 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:664px;
  top:2412px;
  width:92px;
  height:92px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u44 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1064px;
  top:2416px;
  width:88px;
  height:88px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u46 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  overflow:hidden;
}
#u48_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:104px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
  opacity:0.150000005960464;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:119px;
}
#u50 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1222px;
  top:20px;
  width:59px;
  height:67px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:67px;
}
#u52 {
  position:absolute;
  left:2px;
  top:26px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1135px;
  top:20px;
  width:71px;
  height:79px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u54 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1297px;
  top:24px;
  width:108px;
  height:67px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:67px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:1065px;
  top:25px;
  width:62px;
  height:62px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u58 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:104px;
  width:1440px;
  height:200px;
  color:#339999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:200px;
}
#u61 {
  position:absolute;
  left:2px;
  top:92px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1276px;
  top:148px;
  width:104px;
  height:104px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u63 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:972px;
  top:148px;
  width:104px;
  height:104px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u64_img.selected {
}
#u64.selected {
}
#u64_img.mouseDown {
}
#u64.mouseDown {
}
#u65 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:68px;
  top:148px;
  width:104px;
  height:104px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u66_img.selected {
}
#u66.selected {
}
#u66_img.mouseDown {
}
#u66.mouseDown {
}
#u67 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:368px;
  top:148px;
  width:104px;
  height:104px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u68_img.selected {
}
#u68.selected {
}
#u68_img.mouseDown {
}
#u68.mouseDown {
}
#u69 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:664px;
  top:148px;
  width:104px;
  height:104px;
  opacity:0.959999978542328;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u70_img.selected {
}
#u70.selected {
}
#u70_img.mouseDown {
}
#u70.mouseDown {
}
#u71 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:751px;
  top:300px;
  width:660px;
  height:734px;
  overflow:hidden;
  visibility:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:734px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:28px;
  width:653px;
  height:702px;
}
#u73_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:663px;
  height:712px;
}
#u74 {
  position:absolute;
  left:2px;
  top:343px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:531px;
  top:-1px;
  width:98px;
  height:49px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:78px;
  top:248px;
  width:308px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:77px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:78px;
  top:587px;
  width:224px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:77px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:78px;
  top:420px;
  width:235px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:77px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:78px;
  top:81px;
  width:446px;
  height:77px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:64px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:77px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:502px;
  top:28px;
  width:143px;
  height:33px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:531px;
  top:3px;
  width:98px;
  height:49px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u88 {
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:28px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90 {
  position:absolute;
  left:0px;
  top:203px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91 {
  position:absolute;
  left:0px;
  top:379px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  position:absolute;
  left:0px;
  top:554px;
  width:653px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
